body{
	font-family: "Helvetica Neue";
	display: flex;
	flex-direction: column;
	
}

#masthead{
	display: flex;
	width: 100%;
	height: 5%;
	justify-content: center;
}

#tittle{
	margin-right: 50%;
}

#updateTimer{
	text-align: center;
}

.container{
	font-weight: bold;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.player{
	text-align: center;
}

#categories{
	padding: 1%;
	margin: 4%;
}

table{
	border-style: dashed;
	border-color: black;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}