html, body {
  margin: 4%;
  padding: 0;
  font-family: "Helvetica Neue";
  font-weight: bold;
}
canvas {
  display: block;
}

#gossipInfo{
	display: flex;
	flex-direction: column;
	
}

.container {
	display: flex;
	align-items: center;
	overflow: hidden;
}

.scrolling-link {
	white-space: nowrap;
	margin: 0 2em
}

.scrolling-link div {
	display: flex;
	gap: 2em;
	animation: RightToLeft 10s infinite linear;
}

@keyframes  RightToLeft {
	from {
	  transform: translateX(0%);
	}
	to {
	  transform: translateX(-50%);
	}
}

form{
	margin: 5%;
	padding: 5%;
}

input{
	margin-bottom: 2%;
}

select{
	margin-bottom: 2%;
}

main{
	display: flex;
	justify-content: center;
}

canvas{
	border-style: dashed;
	border-color: black;
}

body{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}